[Unit]
Description=Abstock

[Service]
Restart=on-failure
Type=simple
WorkingDirectory={{ abstock_path_repo }}
ExecStart=/usr/bin/screen -D -m /usr/bin/sbcl --noinform --load run.lisp

User={{ abstock_user }}

[Install]
WantedBy=multi-user.target
