[Unit]
Description=Abelujo

[Service]
Restart=on-failure
WorkingDirectory={{ abelujo_path_repo }}
ExecStart={{ abelujo_path_virtualenv }}/bin/{{ abelujo_python }} {{ abelujo_path_virtualenv }}/bin/gunicorn --env DJANGO_SETTINGS_MODULE=abelujo.settings abelujo.wsgi -b 0.0.0.0:{{ abelujo_port }}

[Install]
WantedBy=multi-user.target
